.box {
  width: 400px;
  height: 300px;
  background-color: salmon;
  margin: auto 0;
}

#the-heading {
  color: white;
  font-size: 30px;
  width: 100%;
  border: 1px solid green;
}

#timer {
  font-size: 1800%;
}

#start {
  font-size: 750%;
}
